<!DOCTYPE html>
<html lang="en">
<head>
<title> {{ title }} </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/jpg" href="../images/favicon_j.png"/>
<link rel="stylesheet" type="text/css" href="../../style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
</head>

<body>
  <a class="anchor" id="top"></a>
  <div class="topnav">
    <a id="button_purp" href="../../index.html#top">Home</a>
  </div>

  <div class="hw-content">
    <h2><mark> {{ title }} </mark></h2>
    <span class="post-meta"> last edited: {{ year }}.{{ month }}.{{ day }} </span>

    <br><br>
    
    
    

    <!-- <br/><br/>
    <div class="center">
      <img class="fig_img" src="./images/example-img.img"><br/>
      <span class="post-meta">phenakistoscope v1</span>
    </div>
    <br/><br/> -->


    <h3>reflections & notes</h3>
    
    <br><br>
    <hr>
    <br>

    <div id="centered">
      <a href={{ previous_post }}>&lt;--previous</a> 
    </div>

</body>
</html>

